.parent{
    width: 100%;
    height: 100%;
}
.word{
    float: left;
    width: 60%;
    height: 650px;
    background-color: rgb(5, 59, 46);
    color: white;
}
.image{
    float: right;
    width: 40%;
}
h1{
    position: relative;
    left: 50px;
    font-size: 70px;
    font-family: 'Segoe UI';
}
img{
    width: 500px;
    height: 650px;
}
h2{
    position: relative;
    left: 50px;
    bottom:25px;
    font-size: 25px;
    font-family:'Segoe UI';
}
.p1{
    position: relative;
    left: 50px;
    top: 50px;
    font-size: 20px;
}
.p2{
    position: relative;
    left: 50px;
    top: 35px;
    font-size: 20px;
}
.box{
    position: relative;
    top: 50px;
    left: 50px;
    background-color: rgb(252, 185, 0);     
    width: 300px;
    height: 35px;    
    border-radius: 20px;
}
.p3{
    color: black;
    font-family: 'Franklin Gothic Medium';
    font-size: 15px;
    position: relative;
    left: 29px;
    top: 9px;
}